/*Section 1*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
	padding: 0px;
	margin: 0px;
}
div.navigation{
   position: fixed;
   left: 50%;
   transform: translate(-50%, 0%);
   background-color: white;
   width: 100%;
   margin-left: auto ;
   margin-right: auto ;
   top: -80px;
   z-index: 2;
}
div.navigation ul{
	list-style-type: none;
    text-align: center;
    padding: 0px;
    zoom:1;
    
}
div.navigation li{
	padding: 2px;
    width: 19%;
    display: inline-block;
   
    margin-top: 0px;
    font-size: 25px;
}
div.navigation li.logo{
	position:relative;
	top: 10px;
}
div.navigation li.logo img{
	width: 120px;
	height: 120px;
	position: relative;
	top: 70px;
}
div.navigation li a{
	text-decoration: none;
	color: black;

}
div.welcome{
	background-image: url("../../images/header.jpg");
	height: 650px;
	display: flex;
    justify-content: center;
}
div.welcome .welcome-items{
	align-self: center;
	width: 100%;
}
div.welcome .headline{
	color: white;
	text-align: center;
   	background-color: black;
    font-size: 40px;
}
div.welcome .book{
	opacity: 0.5;
	background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid white;
    border-radius: 5px;

}
/*Section 2*/
div.content{
	margin-top: 70px;
}
div.intro{
	width: 100%;
}
div.intro h2{
	padding-top: 80px;
	padding-bottom: 25px;
	width: 100%;
	text-align: center;
	font-size: 40px;
}
div.intro p{
	width: 78%;
	text-align: center;
	margin-right: 12%;
	margin-left: 12%;
	padding-bottom: 50px;
	font-size: 18px;
}
div.intro-with-image{
	background-image: url("../../images/small1.jpg");
	background-size: 100%;
	background-position: right bottom;
	background-size: 105%;
	color: white;
	text-shadow: 1px 1px black;
}

/*Section 3*/
div.menu{
	padding: 10%;
	color: white;
	background-color: #330000;
}
div.menu .overview{
	vertical-align: top;
}
div.menu .overview h3{
	text-align: center;
}
div.menu .overview h2{
	text-align: center;
}
div.menu .overview .overview-list{
	margin-top: 40px;
	margin-right: 20px;
}
div.menu .overview .overview-list a{
	background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;

}
div.menu .overview .overview-list a:hover{
	background-color: red;
}
div.menu .overview .overview-list a:active{
	background-color: red;
}
div.menu .imageview {
	
}
div.menu .imageview table td{
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	padding-right: 0%;
    border-radius: 5px;
}
div.menu .imageview table td img{
	border: 1px solid white;
    border-radius: 5px;
}
div.menu .imageview table td .tag{
	opacity: 0.5;
	background-color: black;
	width: 100%;
	text-align: left;
	position: relative;
	top: -75px;
	padding-bottom: 15px;
}
div.menu .imageview table td .tag a{
	text-decoration: none;
	color: white;
	margin-left: 25px;
	font-size: 20px;
	text-decoration: none;
	border-bottom: 1px dashed #999
}

/* Events */
div.event {
	background-color: #330000;
	padding-bottom: 30px; 
}

div.container {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	color: white;
	/*outline: 1px solid white;*/
}

div.container img {
	width: 150px;
	height: 150px;
	margin-bottom: 40px;
}

div.event div.container .cell h3 {
	margin: 0px;
	font-size: 26px;
}

div.event div.container .cell h2 {
	font-size: 16px;
}

div.event div.container .cell p {
	font-size: 18px;
	line-height: 160%;
	color: #d5d5d5;
}

div.event div.container .cell p a{
	color: white;
	border-bottom: 1px dotted #ffffff;
	text-decoration: none;
}

div.container.upcoming-events {
	width: 90%;
}

div.container.past-events {
	width: 80%;
}

div.container > h3 {
	text-align: center;
	font-size: 28px;
	padding-top: 60px;
	padding-bottom: 10px;
}

div.container a {
	color: white;
	text-decoration: none;
}

div.table {
	margin-left: auto;
	margin-right: auto;
}

div.col-2 {
	float: left;
	width: 50%;
}

div.col-3 {
	float: left;
	width: 33.33%;
}

div.col-4 {
	float: left;
	width: 25%;
}

div.cell {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.button {
	text-align: center;
}

div.container div.button a {
	clear: both;
	display: inline-block;
	width: 180px;
	height: 70px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 70px;
	background-color: black;
	border: 1px solid white;
}

div.clip {
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.img-anniversary {
	background: url("../../images/4.jpg") 0 0;
}

.img-pasta {
	background: url("../../images/2.jpg") 0 0;	
}

.img-happy {
	background: url("../../images/3.png") 0 0;
}

.img-cooking {
	background: url("../../images/cooking.jpg") 0 0;
}

/* Contact us */

div.container.contact-us {
	width: 60%;
}

div.container.contact-us .table .input {
	padding: 10px;
	background-color: #f8f8f8;
	border: 1px solid #e0e0e0;
	font-size: 120%;
}

div.container.contact-us .table input {
	width: 98%;
	height: 56px;
}

div.container.contact-us .table input[placeholder="Name"] {
	float: left;
}

div.container.contact-us .table input[placeholder="Email"] {
	float: right;
}

div.container.contact-us .table > textarea{
	width: 100%;
	height: 200px;
	position: relative;
	top: 20px;
}

div.contact-us .button {
	height: 60px;
	margin-top: 0px;
	margin-bottom: 80px;
	font-size: 110%;
}

div.contact-us .button[type="submit"] {
	background-color: black;
	color: white;
	width: 50%;
	float: left;
}

div.contact-us .button[type="reset"] {
	background-color: white;
	color: black;
	width: 42%;
	float: right;
	border: 1px solid #e0e0e0;
}


div.contact-us .container {
	width: 60%;
	margin-top: 50px;
	margin-bottom: 60px;
}


div.contact-us ul {
	list-style: none;
}


div#contact input {
	width: 49%;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #fafafa;
	padding: 10px;
	border: none;
}

div#contact input[placeholder="Name"] {
	float: left;
}

div#contact input[placeholder="Email"] {
	float: right;
}

div#contact textarea {
	width: 100%;
	height: 120px;
	padding: 10px;
	background-color: #fafafa;
	border: none;
}
div#contact-button {
	margin: auto;
	width: 60%;
}

div#contact-button input{
	height: 35px;
}

div#contact-button input[type="submit"] {
	background-color: black;
	color: white;
	float: left;
	width: 55%;
}

div#contact-button input[type="reset"] {
	float: right;
	width: 40%;
}

/* Book a table*/
div#booktable-background {
	clear: both;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: url("../../images/book-table.jpg") no-repeat center / cover;
	/*outline: 1px solid black;*/
}

div#booktable {
	width: 40%;
	margin: auto;
	margin-bottom: 0px;
	padding-bottom: 10px;
	background-color: rgba(0,0,0,0.4);
}

div#booktable > h2 {
	color: white;
	font-size: 20px;
	padding: 16px;
	margin-bottom: 0px;
	/*outline: 1px solid white;*/
}

div#book {
	width: 90%;
	margin: auto;
	/*outline: 1px solid white;*/
}

div#book input[type="text"] {
	width: 48%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 6px;
	border: none;
}

div#book input[placeholder="Name"], input[placeholder="Date"] {
	float: left;
}

div#book input[placeholder="Phone"], input[placeholder="Time"] {
	float: right;
}

div#book textarea {
	width: 100%;
	height: 100px;
	padding: 10px;
	margin-top: 10px;
	background-color: #ffffff;
	border: none;
	clear: both;
}

div#book input[type="submit" ]{ 
	margin: auto;
	margin-top: 10px;
	/*margin-bottom: 10px;*/
	border: none;
	background-color: rgba(80,80,80,0.8);
	color: white;
	width: 30%;
	display: block;
	padding: 8px;
	/*outline: 1px solid white;*/
}

div#time-contact{
	background-color: #f0f0f0;
	margin-top: 0px;
	padding-top: 0px;
	/*outline: 1px solid black;*/
}

div#time-contact b{
	font-weight: 600;
}

/* Table using div */
.Table
{
    display: table;
    margin: auto;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}

.Cell
{
    display: table-cell;
    border: none;
    font-size: 80%;
    padding-left: 40px;
    padding-right:40px;
}


div#copyright {
	clear: both;
	margin: auto;
	padding: 40px;
	margin-top: 40px;
	width: 80%;
	/*outline: 1px solid black;*/
}

div#copyright ul li {
	display: inline;
}

div#copyright ul {
    text-align: center;
    font-size: 80%;
}

div#copyright li:not(:first-child):before {
	content: "|";
}